/*Parte encabezado*/
html, body {
  height: 100%;
  margin: 0;
}

#inicio {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 400vh;
}
main {
  flex: 1;
}
/*Fuentes de letras*/
.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.encabezado{
    background-color: lightblue;
    padding:5rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}
.encabezad1{
    margin-top: -3rem;
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;

}

.encabezad1 h1{
   text-decoration: underline;
   text-shadow: 2px 2px 9px #ece4e4;
}
.encabezad1:hover{
    color: darkblue;
    cursor: pointer;
}
nav a{
    margin: 0 6rem;
    text-decoration: underline;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}
/*MAIN*/
.hero{
  display: flex;
  align-items:center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.imagen{
  padding: 6rem;
  max-height: 10rem;
  margin-top: 5rem;
  transition:all 0.3s ease 0s;
}
.imagen:hover{
  transform: scale(3,2);
}
.texto-publicitario{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10rem;
}
.caja{
  padding: auto;
  background-color: gray;
}
.caja2{
  padding: auto;
  background-color: gray;
  text-align: center;
  
}
.hero1{
  margin-top: 10rem;
  margin-right: 90%;
}
.fila::before{
  content: "✅ ";
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  padding: auto;
  animation: aparecer linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}


/*MAIN*/
/*Parte final con copyright y iconos para todas las páginas*/
.footer {
  background-color: #111;
  padding: 20px;
}

.footer-right {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.social-icons a {
  color: white;
  font-size: 28px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #00ff88;
  transform: scale(1.2);
}

.copyright {
  color: #aaa;
  font-size: 14px;
}

/*HISTORIA*/
#historia {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}

/*CONTACTO*/
#contacto {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}
/*ABOUT_US*/
#about_us {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}
/*INSTRUCCIONES*/
#instrucciones {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  height: 200vh;
}

